<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title || "Shitposts" }}</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta charset="UTF-8">
  </head>
  <body>
    {% if page.layout != 'home' %}
    <nav><center>
      <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">Home</a>
    </center></nav>
    <hr />
    {% endif %}
    <center><h1>{{ page.title }}</h1></center>
    <section>
      {{ content }}
    </section>
    <hr />
    <center><footer>
      by <a href="https://github.com/Dobby233Liu">@Dobby233Liu</a>&nbsp;●&nbsp;<abbr title="We, LFWC, humbly added a abbr. for you, who have successly found this website, so you can enjoy this text trip. Congrats, enjoy our BS.">humbly provided</abbr> by lannserfanworkclub
    </footer></center>
  </body>
</html>
