---
layout: default
---
<div style="text-align:justify;white-space:pre-line;">
{{ content }}
</div>

{% if page.previous or page.next %}
<hr />

<center>
<div class="more-posts">
 {% if page.previous %}
 <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/'  }}">
   Previous
 </a>
 {% endif %}
 {% if page.previous and page.next %}
 <code>&nbsp;/&nbsp;</code>
 {% endif %}
 {% if page.next %}
 <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">
   Next
 </a>
 {% endif %}
</div>
</center>
{% endif %}
